.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.HeaderSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.HS-Bio {
  font-size: 1.5em;
  text-align: justify;
  margin: 0 auto;
  padding: 1vh;
  width: 50%;
}


.HS-Selfie-and-Name {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0 auto;  
}

.HS-Selfie {
  border-radius: 50%;
}

.HS-Links a {
  align-self: center;
  text-decoration: none;
  padding:5px;

}

.PortfolioSection {
  display: flex;
  flex-direction: row;
  min-height:100vh;
  min-width: 100vw;
  background-color: #003344;
  align-items: center;
  margin: 0 auto;  
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 20%;
  overflow: hidden;
}

.PortfolioSectionItem {
  flex: 1 0 25%;
  margin: 30px;
  padding: 20px;
  max-width: 25%;

  background: white;
  width: 30vw;
  min-height: 30vh;
  margin: 30px;
  border:1px;
  border-color: black;
  box-shadow: 0px 15px 12px rgba(0,0,0,0.22);
}

.SliderContainer {
  display: inline-block;
  padding: 0px;
  overflow: hidden;
  position: relative;
  font-weight: 200;
}

.SliderItem {
  border-color: #ff0055;
  border-width: 0px;
  border-style: solid;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 1000px;
  padding: 15px 20px;
  transition: 0.1s;
  background: rgba(32,32,32,0.9);
}

.SliderContainer:hover .SliderItem {
  color:white;
  overflow: hidden;
  top:0px;
  /*width:100%;*/
}

.PortfolioSectionItem button {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    background-color: #003BB1;
    padding: 15px 32px;
    
    text-align: center;
    font-size: 24px;
    border:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.PortfolioSectionItem button a {
    color: white;
    text-decoration: none;
  }
.PortfolioSectionItem button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .RecrootBoxSectionItem {
    background: white;
    min-height: 30vh;
    margin: 30px;
    border:1px;
    border-color: black;
    box-shadow: 0px 15px 12px rgba(0,0,0,0.22);
  }