.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.HeaderSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.HS-Title  {
  color: #878787;
  font-size: 2.22rem;
  letter-spacing: .08rem;
  font-weight: 300;
}

.HS-Bio {
  font-size: 1.5em;
  text-align: justify;
  margin: 0 auto;
  padding: 1vh;
  width: 50%;
}



.HS-Selfie-and-Name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;
  letter-spacing: .08rem;
  font-weight: 500;
}

.HS-Selfie {
  border-radius: 50%;
  padding: 20px;
  max-width: 200px;
}

.HS-Links {
  display: flex;
  padding-top:3em;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: bold;
}

.HS-Links a {
  color: grey;
  align-self: center;
  text-decoration: none;
  padding:5px;
}

.HS-Links a:hover {
  color: #222;
  align-self: center;
  text-decoration:none;
  padding:5px;
}
.PortfolioSection {
  display: flex;
  flex-direction: column;
  min-height:100vh;
  min-width: 100vw;
  background-color: #003344;
  align-items: center;
  margin: 0 auto;
  padding-bottom:0;
  margin-bottom:0;
}

.PS-Title{
  text-align: center;
  color:white;
  padding:1em;
}



.PS-List{
  display: flex;
  flex-direction: row;
  min-height:100vh;
  min-width: 100vw;
  background-color: #003344;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 20%;
  overflow: hidden;
}

.PortfolioSectionItem {
  width: 400px;
  height: 300px;
  margin: 30px;
  border:1px;
  border-color: black;
  box-shadow: 0px 15px 12px rgba(0,0,0,0.22);
  max-width: 30vw;
}

.portfolio-item{
  min-width: 30vw;
}

.SliderContainer {
  display: inline-block;
  padding: 0px;
  overflow: hidden;
  position: relative;
  font-weight: 200;
  width: 100%;
}

.SliderItem {
  border-width: 0px;
  border-style: solid;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 1000px;
  padding: 15px 20px;
  transition: 0.1s;
  background: rgba(32,32,32,0.9);
}

.SliderContainer:hover .SliderItem {
  color:white;
  overflow: hidden;
  top:0px;
}


.PortfolioSectionItem button {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    background-color: #003BB1;
    padding: 15px 32px;
    text-align: center;
    font-size: 24px;
    border:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.PortfolioSectionItem button a {
    color: white;
    text-decoration: none;
  }
.PortfolioSectionItem button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.FooterSection{
  margin-top:0;
  padding-top:0;
  height: 10%;
  background-color: black;
  text-align: center;
}
.FooterSection h3 {
  padding:10px;
  color:white;
  margin:0;
  font-size:1em;
}
.FooterSection a {
  color:white;
}
.FooterSection a:hover {
  color:grey;
}

   @media only screen and (max-width: 992px) {


    /* .PortfolioSectionItem {
      max-width: 80vw;
    } */

    .HS-Bio {
      width: 80%;
      padding: 20px;
      font-size: 1em

    }

    .HS-Selfie-and-Name {
      flex-direction: column;
    }

    .HS-Selfie {
      padding: 0;
    }

    .HS-Bio {
      padding: 0;
    }

    .HS-Name-Title-Block {
      text-align: center;
      font-size: .75em;
    }

    .HS-Links {
     padding: 20px;
     display: flex;
    }



  }